@charset "utf-8";
/*  ===== 基本覆寫 ===== */
*{font-family:Verdana,微軟正黑體, Microsoft JhengHei, Arial, Helvetica, sans-serif;}
html,body{height:100%; margin:0; padding:0; overflow-x: hidden;}

/* 覆寫套件 */
/* metisMenu custom */
ul.metismenu{margin:0 0 0 -40px; }
ul.metismenu ul{margin:0 0 0 -40px;}
ul.metismenu li{list-style: none; margin: 0;}
ul.metismenu li a{text-decoration:none;border-bottom: 1px solid #e9e9e9; padding: 12px 17px; display: block;color:#000; background: #fff;}
ul.metismenu li ul li a{padding-left: 30px;background: #f0f6fa;border-bottom: 1px solid #d4d4d4;transition: all ease-in-out 0.2s;}
ul.metismenu li ul li.mactive a,ul.metismenu li.mactive a{background: #3d7db5; color: #fff;}
ul.metismenu li ul li a:hover{background: #d4e7f7;}
ul.metismenu li ul li.mactive a:hover,ul.metismenu li.mactive a:hover{background: #3d7db5; color: #fff;}
ul.metismenu li ul li ul li a{padding-left: 45px;background: #e6e6e6;}

/* Wrapkit Lite修正 */
body{font-size: 1em;color: #161616;font-weight: normal;}
.form-control{padding: 0.375rem 0.75rem; border-color: rgba(120, 130, 140, 0.25);}
.form-check-input{border-color: rgba(120, 130, 140, 0.65);}
.btn{padding:0.375rem 0.75rem;}
.table td,.table th{color: #161616!important;}
.btn-outline-dark{color:#263238;transition: all ease-in-out 0.2s;}
.breadcrumb{padding-left: 0; padding-right: 0;}
/* BS5 客製 */
.d-flexOchi{display: flex;}
.container-ochi{margin-left: auto; margin-right: auto; padding-left: 20px; padding-right: 20px;}
.w-large-ochi{width: 100%; max-width: 1400px;}
.w-middle-ochi{width: 100%; max-width: 1000px;}
/* 本系統專用 */
body{background:#EFF5FA;}
#basecontentwrapper{min-height: 100vh;}
#mainheaderwrapper{position: sticky; top: 0; z-index: 999;}
#mainheader{box-shadow: 0px 0px 15px rgba(0,0,0,.1); padding: 10px;background-image: linear-gradient(to left, #0081cc, #0095cc, #00a6c4, #22b4b7, #63c0ab);}
.logocolor{background: -webkit-linear-gradient(#ffffff, #f5f5f5);font-family: "Arial Black";
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
}
.metismenubox{overflow: auto; position: absolute; width: 250px;}
#mainfooter{position: sticky; bottom:0; z-index:995;padding: 10px; text-align: center; font-size: 0.9rem;background:#f0f0f0;box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);}
#sidebar-wrapper{min-width: 250px; z-index: 990}
.itribreadcrumb{--bs-breadcrumb-divider: '>';}
.filetitle{border-bottom:2px solid #449ce8; padding-bottom:5px;  display:inline-block; margin-bottom:-6px;}
.filetitlewrapper{border-bottom:1px solid #bababa; padding:5px 0;}
.filetitlewrapper .itemright{float: right; padding-top: 15px;}
.filetitlewrapper .btnright{float: right; padding-top: 5px;}

.shadowA{box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);}
.icosA{font-size: 4rem; padding: 10px 0;}
.TitleLength06inside .TitleSetWidth{width:6em;}
.TitleLength08inside .TitleSetWidth{width:8em;}
#myTab > li > button.active{
    border-color: #b6b6b6;
    border-bottom-color: transparent;
    background: #fafafa;
}
.nav-tabs {
    border-bottom: 1px solid #b6b6b6;
}
.tboverW{overflow-x: auto;}
.backTop{position:fixed; z-index: 996; bottom:5%; right:-100px;opacity:0.7;}
.backTop a{color:#fff; padding:10px 20px 10px 20px;background:#000;-webkit-border-radius:10px 0 0 10px;-moz-border-radius:10px 0 0 10px;border-radius:10px 0 0 10px; height:20px; text-decoration:none; font-size:1.2em;}
.headingStyA{position: relative; padding-left: 10px;}
.headingStyA:after{
    background-image: linear-gradient(to right top, #1855de, #007af1, #0099fb, #00b7fe, #53d2ff);
    position: absolute;
    content: "";
    left: 0;
    top: 6px;
    bottom: 4px;
    width: 5px;
    border-radius: 5px;
}
.dividerA
{
    height: 20px;
    position: relative;
    width: 100%;
    background: radial-gradient(ellipse farthest-side at top center, rgba(0,0,0,0.08), transparent);
}
.dividerA:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(left, transparent, rgba(0,0,0,0.02), rgba(0,0,0,0.02), transparent);
}
.shadowB{box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;}
.nicoimgMh{max-height: 120px;}

/* tooltip custom */
.tooltipTypeA{
    --bs-tooltip-bg:#fffcd8;
    --bs-tooltip-color: #2c2c2c;
    --bs-tooltip-max-width: 650px;
    --bs-tooltip-opacity:1;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.tooltipTypeA .tooltip-inner{text-align: left;}
.icosA2{font-size: 6rem;}
.dm-uploader {
    border: 0.25rem dashed #A5A5C7;
    text-align: center;
}
.thbgA{background-color: rgba(227, 244, 255,1)}
.table th{border-bottom: inherit!important;}
.tabletdWa{width:250px;}

/* sticky table */
.cssstickytable{
    width: 100%;
    overflow: auto;
    position: relative;
    z-index: 1;
}
.cssstickytable table {
    width: 100%;

}
.cssstickytable table thead th {
    background-color: #e3f4ff;
    position: sticky;
    top: 0;
    /*Just to make sure table gets a wider content as much as possible*/
}
.cssstickytable table thead th + th {

}
.cssstickytable table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}
.cssstickytable table tbody td {
    /*Just to make sure table gets a wider content as much as possible*/
    /*If you don't want the first left column sticky then skip the below style*/
}
.cssstickytable table tbody td + td {
}
.cssstickytable table tbody td:first-child {
    background-color: #fff;
    position: sticky;
    left: 0;
}

.cssstickytable table tbody tr:nth-child(1) td:first-child {
    background-color: #f8ecc5;
}
.cssstickytable table tbody tr:nth-child(2) td:first-child {
    background-color: #fff3cc;
}

/* index */
.custom-border-start-A {
    border-left: 5px solid #0081cc; 
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0.25rem;
}
.custom-border-start-B {
    border-left: 5px solid #fc9700;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0.25rem;
}
.custom-border-start-C {
    border-left: 5px solid #00ac5e;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0.25rem;
}
.custom-border-start-D {
    border-left: 5px solid #f80500;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0.25rem;
}
.image-container {
    max-width: 600px;
    height: 300px;
    overflow: auto;
    margin: auto;
}

.zoomable-img {
    transform-origin: top left;
    transition: transform 0.2s ease;
    display: block;
}

.image-containerL {
    max-width: 1400px;
    height: 500px;
    overflow: auto;
    margin: auto;
}
.image-containerL2 {
    max-width: 1000px;
    height: 300px;
    overflow: auto;
    margin: auto;
}
.shadowR{box-shadow: 5px 0 20px -2px rgba(99,118,133,0.2);}
.border-nonfocus{border-color:#b2c3d1}
.bg-nonfocus{background-color:#dae6f0;}
.btn-outline-primary:hover, .btn-outline-danger:hover{
  color: #fff !important;  
}
.border-dashed{
  border-style: dashed !important;
}